.text-danger {
  color: #ff5a5e !important; }

.text-info {
  color: #00b1af !important; }

body {
  font-family: "FSAlbertArabic", sans-serif;
  color: #323e48; }
  body.menubar {
    overflow: hidden; }
  body:before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    background-color: #ff5a5e;
    background-image: url(../img/logo-2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
    z-index: 9999; }
    @media (max-width: 575.98px) {
      body:before {
        background-size: 150px; } }

.pace-container {
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s; }

.pace-done:before {
  opacity: 0;
  visibility: hidden; }
.pace-done .pace-container {
  opacity: 1;
  visibility: visible; }

.pace {
  pointer-events: none;
  user-select: none; }
  .pace-inactive {
    display: none; }
  .pace-progress {
    position: fixed;
    top: 0;
    right: 100%;
    width: 100%;
    border-top: 3px solid #fff;
    z-index: 99999; }

@font-face {
  font-family: "FSAlbertArabic";
  src: url("../fonts/FSAlbertArabic-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: "FSAlbertArabic";
  src: url("../fonts/FSAlbertArabic-Bold.ttf");
  font-weight: bold; }
* {
  outline: none !important; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none !important;
  transition: 0.3s; }

main {
  transition: 0.3s; }

@media (min-width: 992px) {
  .container {
    padding-left: 50px;
    padding-right: 50px; } }
@media (min-width: 1200px) {
  .container {
    max-width: 960px; } }

.row:not(.no-gutters):not(.row-normal) {
  margin-left: -10px;
  margin-right: -10px; }
  .row:not(.no-gutters):not(.row-normal) > [class*="col"] {
    padding-left: 10px;
    padding-right: 10px; }

.btn {
  border: 0;
  padding: 8.5px 20px;
  font-weight: 800; }
  @media (min-width: 576px) {
    .btn {
      padding: 8.5px 24px;
      font-size: 18px; } }

.btn-danger {
  background-color: #ff5a5e; }

.btn-light {
  color: #ff5a5e !important; }

.form-control {
  background: none !important;
  box-shadow: none !important;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-size: inherit;
  font-weight: 300; }
  .form-control::-webkit-input-placeholder {
    color: #fff; }
  .form-control::-moz-placeholder {
    color: #fff; }
  .form-control:-ms-input-placeholder {
    color: #fff; }
  .form-control:focus {
    color: #fce88b;
    border-color: #fce88b; }

.h1, h1 {
  font-weight: 300;
  font-size: 100px; }
  @media (max-width: 1199.98px) {
    .h1, h1 {
      font-size: 80px; } }
  @media (max-width: 575.98px) {
    .h1, h1 {
      font-size: 60px; } }

.h2, h2 {
  font-weight: 300;
  font-size: 72px; }
  @media (max-width: 1199.98px) {
    .h2, h2 {
      font-size: 50px; } }
  @media (max-width: 575.98px) {
    .h2, h2 {
      font-size: 30px; } }

.fz-48 {
  font-size: 48px; }
  @media (max-width: 1199.98px) {
    .fz-48 {
      font-size: 30px; } }
  @media (max-width: 575.98px) {
    .fz-48 {
      font-size: 24px; } }

.fz-30 {
  font-size: 30px;
  line-height: 1.33; }
  @media (max-width: 1199.98px) {
    .fz-30 {
      font-size: 24px; } }
  @media (max-width: 575.98px) {
    .fz-30 {
      font-size: 20px; } }

.fz-24 {
  font-size: 24px; }
  @media (max-width: 1199.98px) {
    .fz-24 {
      font-size: 20px; } }
  @media (max-width: 575.98px) {
    .fz-24 {
      font-size: 18px; } }

.pt-70 {
  padding-top: 70px; }

.o-hidden {
  overflow: hidden; }

.navbar {
  transition: padding-top 0.3s, padding-bottom 0.3s;
  color: #fff; }
  .navbar .navbar-brand {
    position: relative;
    direction: rtl;
    overflow: hidden; }
    .navbar .navbar-brand img {
      height: 60px;
      transition: 0.3s; }
      .navbar .navbar-brand img.logo {
        position: absolute;
        right: 0;
        opacity: 0; }
    @media (max-width: 575.98px) {
      .navbar .navbar-brand {
        width: 45px; }
        .navbar .navbar-brand img {
          max-height: 50px;
          max-width: inherit; } }
  .sticky .navbar {
    background: #fff;
    color: inherit; }
    .sticky .navbar .navbar-brand img {
      opacity: 0; }
      .sticky .navbar .navbar-brand img.logo {
        opacity: 1; }
  @media (min-width: 1200px) {
    .navbar {
      padding: 15px 35px; }
      .sticky .navbar {
        padding-top: 10px;
        padding-bottom: 10px; }
        .sticky .navbar .navbar-brand img {
          height: 50px; } }

.sandwich {
  width: 23px;
  cursor: pointer;
  color: inherit; }
  .sandwich:hover {
    color: #ff5a5e; }
  .sandwich span {
    display: block;
    width: 100%;
    border-bottom: 1px solid;
    transform-origin: left center;
    transition: 0.3s; }
    .sandwich span + span {
      margin-top: 7px; }
  .menubar .sandwich span:nth-child(1) {
    transform: translateX(3px) rotate(45deg); }
  .menubar .sandwich span:nth-child(2) {
    width: 0;
    opacity: 0;
    transform: translateX(3px); }
  .menubar .sandwich span:nth-child(3) {
    transform: translateX(3px) rotate(-45deg); }

.lang {
  font-size: 12px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 2px 8px;
  border: 1px solid;
  border-radius: 100px;
  color: inherit;
  width: 40px;
  opacity: 0; }
  .lang:hover {
    color: #ff5a5e; }

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 1029;
  font-weight: bold;
  background-color: #fff;
  padding: 100px 0 20px;
  transition: 0.3s;
  transform: translateX(-100%);
  width: 450px; }
  @media (min-width: 992px) {
    #menu {
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media (min-width: 1200px) {
    #menu {
      padding-left: 35px;
      padding-right: 35px; }
      .sticky #menu {
        width: 400px; } }
  @media (max-width: 1199.98px) {
    #menu {
      width: 400px; } }
  @media (max-width: 575.98px) {
    #menu {
      width: 270px; } }
  #menu li {
    margin-bottom: 1rem; }
    #menu li a {
      color: inherit; }
      #menu li a:hover {
        color: #ff5a5e; }

.parallax-mirror {
  transition: left 0.3s; }

.menubar .navbar {
  color: inherit; }
  .menubar .navbar .navbar-brand img {
    opacity: 0; }
    .menubar .navbar .navbar-brand img.logo {
      opacity: 1; }
.menubar #menu {
  transform: none; }
.menubar main {
  transform: translateX(450px);
  overflow: hidden; }
  @media (max-width: 1199.98px) {
    .menubar main {
      transform: translateX(400px); } }
  @media (max-width: 575.98px) {
    .menubar main {
      transform: translateX(270px); } }
.menubar .parallax-mirror {
  left: 450px !important; }
  @media (max-width: 1199.98px) {
    .menubar .parallax-mirror {
      left: 400px !important; } }
  @media (max-width: 575.98px) {
    .menubar .parallax-mirror {
      left: 270px !important; } }
.menubar .lang {
  opacity: 1; }
@media (min-width: 1200px) {
  .menubar.sticky main {
    transform: translateX(400px); }
  .menubar.sticky .parallax-mirror {
    left: 400px !important; } }

.header {
  overflow: hidden;
  color: #fff; }
  .header > .container, .header .col-100 {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 110px; }
    @media (max-width: 1199px) {
      .header > .container, .header .col-100 {
        padding-top: 86px; } }
    @media (max-width: 575.98px) {
      .header > .container, .header .col-100 {
        padding-top: 78px; } }
  .header .col-100 {
    color: inherit; }
    @media (max-width: 767.98px) {
      .header .col-100 {
        min-height: 50vh; } }
    .header .col-100:hover {
      color: #ff5a5e; }
  .header .img {
    position: absolute;
    top: 425px;
    left: -298px; }
  .header .my-auto {
    padding-top: 70px;
    padding-bottom: 70px; }
  .header.header-1 .img {
    position: static; }
  .header.header-2 > .container {
    min-height: 570px; }

.nav-pills {
  font-weight: bold; }
  .nav-pills .nav-link {
    padding: 17.5px 15px;
    color: #fff;
    background-color: #ff5a5e;
    border: none;
    border-radius: 0;
    position: relative; }
    @media (min-width: 1200px) {
      .nav-pills .nav-link {
        font-size: 30px; } }
    .nav-pills .nav-link:not(.active):hover {
      opacity: 0.7; }
    .nav-pills .nav-link.active {
      background-color: #fce88b;
      color: inherit; }
      .nav-pills .nav-link.active:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        border: 16px solid transparent;
        border-bottom: 15px solid #fce88b;
        transform: translateX(-50%) rotate(180deg); }

.card-my {
  height: 100%;
  background: #eaebec;
  display: flex;
  flex-direction: column;
  padding: 30px 90px 60px; }
  .card-my h3 {
    font-size: 30px; }
  @media (max-width: 1699.98px) {
    .card-my {
      padding: 20px 30px 50px;
      font-size: 20px; }
      .card-my h3 {
        font-size: 24px; } }
  @media (max-width: 1449.98px) {
    .card-my {
      font-size: 16px; }
      .card-my img[width="216"] {
        width: 150px; }
      .card-my h3 {
        font-size: 24px; } }
  @media (max-width: 1199.98px) {
    .card-my {
      padding: 10px 15px 20px; }
      .card-my img[width="216"] {
        width: 115px; }
      .card-my h3 {
        font-size: 22px; } }
  .card-my a {
    color: #187dd0; }
    .card-my a:hover {
      opacity: 0.8; }

.img-wrap {
  display: block;
  overflow: hidden;
  position: relative; }
  .img-wrap .hover {
    color: #fff;
    background-color: #ff5a5e;
    font-weight: bold;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
    padding: 20px 15px; }
    @media (min-width: 992px) {
      .col-lg-6 .img-wrap .hover {
        padding: 57px 15px; } }
  .img-wrap:hover .hover {
    opacity: 0.8;
    transform: none; }
  .img-wrap img {
    transition: 0.3s;
    width: 100%; }
  .img-wrap:hover img {
    transform: scale(1.1); }

.starts {
  font-size: 0;
  margin-bottom: 6px; }
  .starts span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100px;
    border: 2px solid #579a38;
    padding: 3px;
    background-clip: content-box; }
    .starts span:not(.empty) {
      background-color: #579a38; }

.section-1 {
  padding: 132px 0; }
  @media (max-width: 1199.98px) {
    .section-1 {
      padding: 70px 0; } }

.section-2 [class*="col"] {
  min-height: 480px;
  padding: 59px 48px 43px !important; }
  @media (max-width: 1199.98px) {
    .section-2 [class*="col"] {
      min-height: 300px; } }
  @media (max-width: 767.98px) {
    .section-2 [class*="col"] {
      padding-left: 15px !important;
      padding-right: 15px !important; } }
  .section-2 [class*="col"]:nth-child(1) {
    background: #323e48; }
  .section-2 [class*="col"]:nth-child(2) {
    background: url(../img/about-1.jpg);
    background-size: cover; }
  .section-2 [class*="col"]:nth-child(3) {
    background: #ff5a5e; }
  .section-2 [class*="col"]:nth-child(4) {
    background: #fce88b; }
.section-2.section-5 [class*="col"]:nth-child(1) {
  background: #323e48; }
.section-2.section-5 [class*="col"]:nth-child(2) {
  background: #8f4b98; }
.section-2.section-5 [class*="col"]:nth-child(3) {
  background: #fefae8 url(../img/wifi.svg) no-repeat center center;
  background-size: 70%; }
.section-2.section-5 [class*="col"]:nth-child(4) {
  background: #fce88b; }

.section-3 [class*="col"] {
  padding: 48px 15px; }
  .section-3 [class*="col"]:nth-child(1) {
    background: #fdf3d3; }
  .section-3 [class*="col"]:nth-child(2) {
    background: #00b1af; }
.section-3 .img {
  position: absolute;
  top: 180px;
  left: 84px; }

.section-4 {
  padding: 94px 0;
  background: url(../img/pattern-3.png) no-repeat center center;
  background-size: auto 90%; }
  @media (max-width: 1199.98px) {
    .section-4 {
      padding: 70px 0 54px; } }

.section-6 {
  padding: 94px 0; }
  @media (max-width: 1199.98px) {
    .section-6 {
      padding: 70px 0; } }

.section-7 {
  padding: 62px 0 107px;
  background: url(../img/bg.jpg) center center;
  background-size: cover; }
  @media (max-width: 1199.98px) {
    .section-7 {
      padding: 70px 0; } }

.section-8 {
  padding: 94px 0; }
  @media (max-width: 1199.98px) {
    .section-8 {
      padding: 70px 0 54px; } }

.list-my li {
  margin-bottom: 0.5rem; }
.list-my img {
  margin-right: 5px;
  margin-top: -5px; }
.list-my * {
  vertical-align: middle; }

.list-star {
  list-style: none;
  padding-left: 0; }
  .list-star li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 0.5rem; }
    .list-star li:before {
      content: "";
      width: 26px;
      height: 26px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      margin-top: -3px;
      background: url(../img/star.svg);
      background-size: cover; }

.section-9 .row {
  background: #fefae8; }
.section-9 [class*="col"] {
  padding: 30px; }
  @media (max-width: 767.98px) {
    .section-9 [class*="col"] {
      padding: 50px 15px; } }
  .section-9 [class*="col"]:nth-child(1) {
    min-height: 250px;
    background: url(../img/i2.jpg) center center;
    background-size: cover; }

.section-10 {
  padding: 76px 0 88px; }
  @media (max-width: 1199.98px) {
    .section-10 {
      padding: 70px 0; } }
  .section-10 .img-contacts-1, .section-10 .img-contacts-2 {
    position: absolute; }
  .section-10 .img-contacts-1 {
    top: 35%;
    left: -290px; }
  .section-10 .img-contacts-2 {
    top: 50%;
    right: -275px; }
  .section-10 a {
    color: #ff5a5e; }
    .section-10 a:hover {
      color: #00b1af; }
  .section-10 iframe {
    display: block;
    width: 100%;
    border: 0;
    height: 300px; }
  .section-10 .contacts {
    margin-top: 0.25rem;
    background: rgba(0, 177, 175, 0.2);
    padding: 28px 22px; }
    @media (max-width: 767.98px) {
      .section-10 .contacts {
        padding: 24px 15px; } }
  .section-10 .make {
    font-size: 24px; }
    .section-10 .make ul {
      margin-bottom: -11px;
      font-size: 36px;
      line-height: 1.4;
      position: relative;
      z-index: 2; }

.footer {
  padding: 45px 0 194px;
  background: #00b1af;
  color: #fff;
  font-weight: bold; }
  .footer a {
    color: #fff; }
    .footer a:hover {
      color: #ff5a5e; }

#scroll-top {
  font-size: 22px;
  position: fixed;
  right: 80px;
  bottom: 46px;
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background-color: #ff5a5e;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  z-index: 999;
  animation: scroll 2.5s infinite; }
  @media (max-width: 575.98px) {
    #scroll-top {
      right: 15px; } }
  #scroll-top .fa {
    transition: 0.3s; }
  #scroll-top:hover {
    opacity: 0.8;
    transform: rotate(45deg);
    border-radius: 0;
    animation-play-state: paused; }
    #scroll-top:hover .fa {
      transform: rotate(-45deg); }

@keyframes scroll {
  50% {
    bottom: 40px; } }

/*# sourceMappingURL=style.css.map */
