@import colors

$transition: .3s

body 
	font-family: 'FSAlbertArabic', sans-serif
	color: $color-body
	&.menubar
		overflow: hidden
	&:before 
		content: ''
		position: fixed
		top: 0
		right: 0
		bottom: 0
		left: 0
		transition: $transition
		background-color: $color-danger
		background-image: url(../img/logo-2.svg)
		background-repeat: no-repeat
		background-position: center center
		background-size: 200px
		z-index: 9999
		@media (max-width: 575.98px)
			background-size: 150px

.pace-container
	overflow: hidden
	opacity: 0
	visibility: hidden
	transition: $transition
.pace-done 
	&:before 
		opacity: 0
		visibility: hidden
	.pace-container
		opacity: 1
		visibility: visible

.pace
	pointer-events: none
	user-select: none
	&-inactive
		display: none
	&-progress
		position: fixed
		top: 0
		right: 100%
		width: 100%
		border-top: 3px solid #fff
		z-index: 99999

@import fonts

* 
	outline: none !important

img 
	max-width: 100%
	height: auto

a 
	text-decoration: none !important
	transition: $transition

.container 
	@media (min-width: 992px)
		padding-left: 50px
		padding-right: 50px
	@media (min-width: 1200px)
		max-width: 960px

.row:not(.no-gutters)
	margin-left: -10px
	margin-right: -10px
	> [class*="col"]
		padding-left: 10px
		padding-right: 10px

.btn 
	font-size: 24px
	border: 0
	padding: 7px 28px
	font-weight: 800
	min-width: 179px
.btn-danger 
	background-color: $color-danger
.btn-light
	color: $color-danger !important

.form-control
	background: none !important
	box-shadow: none !important
	border-radius: 0
	border: 0
	border-bottom: 1px solid #fff
	text-align: center
	color: #fff
	font-size: inherit
	font-weight: 300
	&::-webkit-input-placeholder
		color: #fff
	&::-moz-placeholder    
		color: #fff
	&:-ms-input-placeholder  
		color: #fff
	&:focus 
		color: $color-warning
		border-color: $color-warning

.h1, h1
	font-weight: 300
	font-size: 100px
	@media (max-width: 1199.98px)
		font-size: 80px
	@media (max-width: 575.98px)
		font-size: 60px
.h2, h2
	font-weight: 300
	font-size: 72px
	@media (max-width: 1199.98px)
		font-size: 50px
	@media (max-width: 575.98px)
		font-size: 30px

.fz-48
	font-size: 48px
	@media (max-width: 1199.98px)
		font-size: 30px
	@media (max-width: 575.98px)
		font-size: 24px
.fz-30
	font-size: 30px
	line-height: 1.33
	@media (max-width: 1199.98px)
		font-size: 24px
	@media (max-width: 575.98px)
		font-size: 20px
.fz-24
	font-size: 24px
	@media (max-width: 1199.98px)
		font-size: 20px
	@media (max-width: 575.98px)
		font-size: 18px

.pt-70
	padding-top: 70px

.o-hidden
	overflow: hidden

.navbar 
	transition: $transition
	.navbar-brand
		font-size: 50px
		transition: font-size $transition
		@media (max-width: 1199.98px)
			font-size: 34px
		img
			transition: width $transition
			@media (max-width: 575.98px)
				max-width: 54px
	&.sticky	
		background: rgba(81, 92, 100, 0.85)
		@media (max-width: 1199.98px)
			.navbar-brand
				img
					width: 54px
	@media (min-width: 1200px)
		padding: 20px 65px
		&.sticky	
			padding-top: 1rem
			padding-bottom: 1rem
			.navbar-brand
				font-size: 34px
				img
					width: 54px
	.sandwich 
		width: 30px
		cursor: pointer
		&:hover 
			opacity: .8
		span 
			display: block
			height: 6px
			background-color: #fff
			+ span 
				margin-top: 5px
	.e
		&:hover 
			opacity: .8

#menu 
	position: fixed
	top: 0
	right: 0
	bottom: 0
	left: 0
	overflow: auto
	z-index: 1031
	font-weight: bold
	background: rgba(50, 63, 73, 0) url(../img/menu.png) no-repeat center center
	background-size: cover
	text-align: center
	padding: 64px 0
	transition: $transition
	opacity: 0
	pointer-events: none
	.closer
		font-size: 36px
	li 
		margin-bottom: 29px
		@media (max-width: 575.98px)
			margin-bottom: 1rem
		a 
			color: $color-danger
			&:hover 
				color: #fff
	.menubar &
		opacity: 1
		pointer-events: auto

.header 
	overflow: hidden
	color: #fff
	> .container
		min-height: 100vh
		display: flex
		flex-direction: column
		position: relative
		padding-top: 130px
		@media (max-width: 1199px)
			padding-top: 106px
		@media (max-width: 575.98px)
			padding-top: 80px
	.img
		position: absolute
		top: 425px
		left: -298px
	.my-auto
		padding-top: 70px
		padding-bottom: 70px
	&.header-1
		.img
			position: static

.nav-pills
	font-weight: bold
	.nav-link 
		padding: 17.5px 15px
		color: #fff
		background-color: $color-danger
		border: none
		border-radius: 0
		position: relative 
		@media (min-width: 1200px)
			font-size: 30px
		&:not(.active)
			&:hover 
				opacity: .7
		&.active
			background-color: $color-warning 
			color: inherit
			&:after
				content: ''
				position: absolute
				top: 100%
				left: 50%
				border: 16px solid transparent
				border-bottom: 15px solid $color-warning 
				transform: translateX(-50%) rotate(180deg)

.card-my
	height: 100%
	background: #eaebec
	display: flex
	flex-direction: column
	padding: 30px 90px 60px
	h3 
		font-size: 30px
	@media (max-width: 1699.98px)
		padding: 20px 30px 50px
		font-size: 20px
		h3 
			font-size: 24px
	@media (max-width: 1449.98px)
		font-size: 16px
		img[width="216"]
			width: 150px
		h3 
			font-size: 24px
	@media (max-width: 1199.98px)
		padding: 10px 15px 20px
		img[width="216"]
			width: 115px
		h3 
			font-size: 22px
	a 
		color: #187dd0
		&:hover 
			opacity: .8

.img-wrap 
	display: block
	overflow: hidden
	position: relative
	.hover 
		color: #fff
		background-color: $color-danger
		font-weight: bold
		position: absolute
		right: 0
		bottom: 0
		left: 0
		opacity: 0
		transition: $transition
		padding: 20px 15px
		@media (min-width: 992px)
			.col-lg-6 &
				padding: 57px 15px
	&:hover 
		.hover
			opacity: .8
			transform: none

	img 
		transition: $transition
		width: 100%
	&:hover
		img 
			transform: scale(1.1)

.starts
	font-size: 0
	margin-bottom: 6px
	span 
		display: inline-block
		width: 20px
		height: 20px
		border-radius: 100px
		border: 2px solid #579a38
		padding: 3px
		background-clip: content-box
		&:not(.empty)
			background-color: #579a38

.section-1 
	padding: 132px 0
	@media (max-width: 1199.98px)
		padding: 70px 0

.section-2
	[class*="col"]
		min-height: 480px
		padding: 59px 48px 43px !important
		@media (max-width: 1199.98px)
			min-height: 300px
		@media (max-width: 767.98px)
			padding-left: 15px !important
			padding-right: 15px !important
		&:nth-child(1)
			background: $color-body
		&:nth-child(2)
			background: url(../img/about-1.jpg)
			background-size: cover
		&:nth-child(3)
			background: $color-danger
		&:nth-child(4)
			background: $color-warning
	&.section-5
		[class*="col"]
			&:nth-child(1)
				background: $color-body
			&:nth-child(2)
				background: $color-primary
			&:nth-child(3)
				background: $color-warning-3 url(../img/wifi.svg) no-repeat center center
				background-size: 70%
			&:nth-child(4)
				background: $color-warning

.section-3
	[class*="col"]
		padding: 48px 15px
		&:nth-child(1)
			background: $color-warning-2
		&:nth-child(2)
			background: $color-info
	.img 
		position: absolute
		top: 180px
		left: 84px

.section-4
	padding: 94px 0
	background: url(../img/pattern-3.png) no-repeat center center
	background-size: auto 90%
	@media (max-width: 1199.98px)
		padding: 70px 0 54px

.section-6
	padding: 94px 0
	@media (max-width: 1199.98px)
		padding: 70px 0

.section-7
	padding: 62px 0 107px
	background: url(../img/bg.jpg) center center
	background-size: cover
	@media (max-width: 1199.98px)
		padding: 70px 0

.section-8
	padding: 94px 0
	@media (max-width: 1199.98px)
		padding: 70px 0 54px

.list-my
	li 
		margin-bottom: .5rem
	img
		margin-right: 5px
		margin-top: -5px
	* 
		vertical-align: middle

.list-star
	list-style: none
	padding-left: 0
	li 
		position: relative
		padding-left: 35px
		margin-bottom: .5rem
		&:before 
			content: ''
			width: 26px
			height: 26px
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
			margin-top: -3px
			background: url(../img/star.svg)
			background-size: cover

.section-9
	.row
		background: $color-warning-3
	[class*="col"]
		padding: 30px
		@media (max-width: 767.98px)
			padding: 50px 15px
		&:nth-child(1)
			min-height: 250px
			background: url(../img/i2.jpg) center center
			background-size: cover

.footer 
	padding: 45px 0 194px
	background: #00b1af
	color: #fff
	font-weight: bold
	a 
		color: #fff
		&:hover 
			color: $color-danger

#scroll-top
	font-size: 22px
	position: fixed
	right: 80px
	bottom: 46px
	width: 35px
	height: 35px
	text-align: center
	padding: 5px
	border-radius: 5px
	background-color: $color-danger
	transition: $transition
	cursor: pointer
	color: #fff
	z-index: 999
	animation: scroll 2.5s infinite
	@media (max-width: 575.98px)
		right: 15px
	.fa 
		transition: $transition
	&:hover
		opacity: .8
		transform: rotate(45deg)
		border-radius: 0
		animation-play-state: paused
		.fa	
			transform: rotate(-45deg)		
@keyframes scroll
	50%
		bottom: 40px



